.card {
    border-radius: 0px;
}

.card-header {
    background-color: #4B4E6D;
    color : #fff;
}

/* nav */
.navbar {
    background-color : #481D24;
}

.btn, .form-control, .input-group-text {
    border-radius: 0px;
}

.btn-primary {
    background-color: #4B4E6D;
    border-color: #4B4E6D;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #481D24;
    border-color: #481D24;
    box-shadow: none;
}